@model IEnumerable<ShopConnection.GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutIndex.cshtml";
}

<h1>Giỏ Hàng</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>maTK</th>
        <th>maSp</th>
        <th>SL</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.MaTK</td>
            <td>@item.MaSp</td>
            <td>
                @using (Html.BeginForm("CapNhatSL", "GioHang", FormMethod.Post))
                {
                    <input type="hidden" value="@item.Id" name="Id" />
                    <input type="hidden" value="@item.MaTK" name="MaTK" />
                    <input type="hidden" value="@item.MaSp" name="MaSp" />
                    <input name="SoLxxuong" style="width: 100px; margin-left:100px;" class="form-inline quantity" type="number" min="1" max="10" value="@item.SoLuong">
                    <input style="width: 100px; margin-left:20px;" type="submit" value="Cập Nhật" />
                }
            </td>
        </tr>
    }
</table>
