@model IEnumerable<ShopConnection.v_GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutIndex.cshtml";
}

<h1>Giỏ Hàng</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Tên Sản Phẩm</th>
        <th>Số Lượng</th>
        <th>Tổng Cộng</th>
        <th>Ngày Đặt</th>
        <th>Tình Trạng</th>
        <th style="margin:auto;"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.TenSanPham</td>
            <td>
                @using (Html.BeginForm("CapNhatSL", "GioHang", FormMethod.Post))
                {
                    <input type="hidden" value="@item.Id" name="Id" />
                    <input name="SoLuong" style="width: 100px; margin-left:30px;" class="form-inline quantity" type="number" min="0" max="10" value="@item.SoLuong">
                    <input style="width: 100px; margin-left:20px;" type="submit" value="Cập Nhật" />
                }
            </td>
            <td>@item.TongCong</td>
            <td>@item.NgayDat</td>
            @if (item.TinhTrang == 0)
            {
                <td>Đang chờ duyệt</td>
                <td><button disabled>Đặt Hàng</button></td>
            }
            else if(item.TinhTrang == 1)
            {
                <td>Chờ thanh toán</td>
                <td>@Html.ActionLink("Đặt Hàng", "ThanhToan", "GioHang", new { id = item.Id }, new { @onClick = "DatHang()", @class = "btn-primary" })@*<a href="~/@item.Id" class="btn-primary">Thanh Toán</a>*@</td>
            }
            else
            {
                <td>Giao Hàng</td>
                <td><button disabled style="padding: 0px 34px;" class="btn-danger">✓</button></td>
            }
        </tr>
    }
</table>
<script>
    function DatHang() {
        alert("Bạn đã đặt hàng thành công. Chúng tôi sẽ giao hàng cho bạn trong thời gian sớm nhất :)");
    }
</script>
