@model ShopConnection.SanPham
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminIndex.cshtml";
}
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
</script>
<div>
    @using (Html.BeginForm("Edit", "SanPham", FormMethod.Post, new { id = Model.MaSanPham, enctype = "multipart/form-data" }))
    {
        <label>Mã Sản Phẩm:</label>
        <input name="MaSanPham" type="text" placeholder="AB-XXX" value="@Model.MaSanPham" required />
        <label>Tên Sản Phẩm:</label>
        <input name="TenSanPham" type="text" placeholder="TÊN SẢN PHẨM" value="@Model.TenSanPham" required />
        <label>Mô Tả:</label>
        <textarea class="ckeditor" name="MoTa" style="width: 300px; height: 150px; max-width: 100px; max-height: 600px; " rows="4" cols="30">@Model.MoTa</textarea>
        <label>Giá Tiền:</label>
        <input name="GiaTien" type="number" min="1000" placeholder="vnđ" required value="@Model.GiaTien" />
        <label>Xuất Xứ:</label>
        <input name="XuatXu" type="text" placeholder="Xuất Xứ" required value="@Model.XuatXu" />
        <label>Nhà Sản Xuất:</label>
        <input name="NhaSanXuat" type="text" placeholder="Nhà Sản Xuất" required value="@Model.NhaSanXuat" />
        <label>Loại Sản Phẩm:</label>
        @*@Html.Partial("_LoaiSP", ShopBUS.BUS.ListMenu())*@
        @Html.DropDownList("MaLoaiSanPham", null, new {  })
        <label>Hình Mặc Định:</label>
        <input name="HinhAnh" id="uploadImage" type="File" onchange="PreviewImage();" />
        <img id="uploadPreview" src="~/Public/images/@Model.HinhAnh" style="width: 200px;" />
        <input type="submit" value="Hoàn Tất" />
    }
</div>